ccs


 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(to right, #4e73df, #1cc88a);
      padding: 40px;
        color: #333;
    }

    h2, h3 {
   color: white;
    }

    .container {
  background: white;
  padding: 20px;
 border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    input, select {
        padding: 8px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        padding: 8px 12px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #4e73df;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #2e59d9;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table th {
        background-color: #4e73df;
        color: white;
    }

    table th, table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }




